NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Database connection string
DATABASE_URL="file:./dev.db"

# Clerk Authentication Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_key

# Clerk Authentication URLs
NEXT_PUBLIC_CLERK_SIGN_IN_URL = "/auth/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL = "/auth/sign-up"

# Clerk Redirect URLs
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL = "/dashboard/overview"
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL = "/dashboard/overview"
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL = "/dashboard/overview"
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL = "/dashboard/overview"

# Auth Secret
BETTER_AUTH_SECRET=your_auth_secret_key

# Default credentials (for development only)
NEXT_PUBLIC_EMAIL=example@example.com
NEXT_PUBLIC_PASSWORD=example_password